html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

article, aside, figure, footer, header, hgroup, nav, section {display: block;}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
object,
embed {max-width: 100%;}

html {overflow-y: scroll;}

ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before,
blockquote:after,
q:before,
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1) */
	word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}

a:hover, a:active {outline: none;}

small {font-size: 85%;}

strong, th {font-weight: bold;}

td, td img {vertical-align: top;}

sub, sup {font-size: 65%; line-height: 0; position: relative; vertical-align:baseline}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

pre, code, kbd, samp {font-family: monospace, sans-serif;}

.clickable,
label,
input[type=button],
input[type=submit],
button {cursor: pointer;}

button, input, select, textarea {margin: 0;}

button {width: auto; overflow: visible;}

.ie7 img {-ms-interpolation-mode: bicubic;}
.ie6 {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

body {font: 14px Gudea, Arial, Helvetica, Helmet, Freesans, sans-serif;}
body, select, input, textarea {color: #000;}

a {color: #00853F; text-decoration: none; }
a:hover {color: #00853F; text-decoration: underline;}
a:active, a:focus { outline: 0 none;}

::-moz-selection{background: #8CC63F; color: #FFF; text-shadow: none;}
::selection {background: #8CC63F; color: #FFF; text-shadow: none;}


a:link {-webkit-tap-highlight-color: #8CC63F;}

ins {background-color: #00853F; color: #000; text-decoration: none;}
mark {background-color: #00853F; color: #000; font-style: italic; font-weight: bold;}

/* IOS(IPAD) HARDWARE ACCELERATION FIX
@media screen and (max-device-width: 1024px) {
	body {
		-webkit-transform: translate3d(0,0,0);
	}
	#main {
		-webkit-perspective: 0;
		-webkit-backface-visibility: hidden;
		-webkit-transition-duration: 0;
	}
}
*/

/* =============================================================================
   Primary styles
   Author: Keegan Brown for Peter Mayer Advertising
   ========================================================================== */

/*  TEXT FORMATTING  */
h1 { font-size:  170% }
h2 { font-size:  150% }
h3 { font-size:  130% }
h4 { font-size:  120% }
h5 { font-size:  110% }
h6 { font-size:  100% }

body {
    text-align: center;
}
#container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    text-align: left;
    -webkit-transform: translate3d(0,0,0);
	background-color: #000;
	position: relative;
}
#header {
    padding: 0 20px;
    background-color: #DDD;
	height: 10%;
}
#main {
    padding: 0 20px;
    background-color: #000;
	min-height: 80%;
}
#footer {
    padding: 0 20px;
    background-color: #DDD;
	height: 10%;
}
#header h1, #footer > p {
	padding: 15px 0;
}
#cycle {
    min-height: 300px;
    overflow: hidden;
}

#cycle * {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cycleItem {
    min-height: 100%;
    width: 100%;
    display: block;
}

.item1 { background-color: #999999; }
.item2 { background-color: #99FFFF; }
.item3 { background-color: #FF99FF; }
.item4 { background-color: #FFFF99; }
.item5 { background-color: #9999FF; }

.item1 .itemWrap { height: 300px; }
.item2 .itemWrap { height: 600px; }
.item3 .itemWrap { height: 900px; }
.item4 .itemWrap { height: 400px; }
.item5 .itemWrap { height: 500px; }

.cycleItem .itemWrap { padding: 20px; }

.pager {
	width: 100%;
}
.pager a {
	width: 20%;
    display: block;
    padding: 10px 0;
    background-color: #000;
    color: #FFF;
    text-align: center;
    float: left;
    font-weight: bold;
}
.pager .activeSlide {
    background-color: #00853F;
}







/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.abir { position: absolute; top: 0; left: 0; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
